<div class="col-11 container container-1">
  <div class="row row-1">
    <div class="name-searches-wrapper">
      <div class="name-searches">
        <%= form_with scope: :commentator_search, url: name_searches_path, method: :get, local: true do |f| %>
          <div class="field"> 
            <%= f.text_field :name, placeholder: '実況者名' %>
          </div>
          <%= button_tag type: 'submit', id: 'name_searches_submit' do %>
            <i class="fa fa-search"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div id="name-result-js" class="name-result">
      <% if @commentators == {} %>
      <% else %>
        <p class="title round">検索結果</p>
        <% if @commentators.blank? %>
			    <div class="result-wrapper">
			  		<div class="col-12 col-md-10 col-lg-6 result">
			  			<p><%= '見つかりませんでした。' %></p>
			  		</div>
			  	</div>
			  <% else %>
			  	<%= render 'name_searches/commentators', commentators: @commentators %>
            
          <!-- <%= render 'shared/recommendation_commentators', commentators: @similar_commentators %> -->
			  <% end %>
      <% end %>
    </div>
    <%= link_to 'タイトルに戻る', root_path, data: {"turbolinks"=>false}, class: 'btn btn-primary round to-title' %>
  </div>
</div>
