<div class="container">
  <div class="row password-resets-row">
    <div class="title round">
      <h1>新パスワード入力</h1>
    </div>
    <div class="col-md-8 col-lg-6 password-resets-edit-wrapper">
      <%= form_with model: @user, url: password_reset_path(@token), local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %>

        <div class="form-group">
          <%= f.label :email, 'メールアドレス(入力不可)' %>
          <%= f.email_field :email, disabled: true, class: 'form_control' %>
        </div>
        <div class="form-group">
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password, class: 'form_control' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, 'パスワード確認' %>
          <%= f.password_field :password_confirmation, class: 'form_control' %>
        </div>
        <%= f.submit '送信', class: 'btn btn-primary sending-new-password' %>
      <% end %>
    </div>
  </div>
</div>
