<div id="result-r-<%= frequency + 1 %>" class="col-12 col-md-10 col-lg-7 round diagnosis-histories-commentator">
	<div class="commentator-info" id="commentator-info-<%= frequency + 1 %>">
    <div class="first-page">
      <div class="commentator-name round">
        <%= diagnosis.commentator.name %>
      </div>
      <%= link_to image_tag(diagnosis.commentator.youtube_icon, class: 'youtube-icon'), diagnosis.commentator.youtube_channel_url %>
      <div class="video">
        <iframe width="110%" height="180" src="<%= diagnosis.commentator.popular_movies.pluck(:movie).first %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
      </div>
      <%= link_to 'レビュー', '#', class: 'btn btn-primary', id: 'review-button' %>
      <!-- 左右ボタン -->
      <!-- １ページ目の右 -->
      <button id="right-button-<%= frequency + 1 %>" type="button" class="right-button-1 round" value="<%= frequency + 1 %>"><i class="fa fa-angle-right"></i></button>
    </div>

    <!-- レビューフォーム -->
    <div class="review-form">
      <i class="fa fa-close" id="review-close"></i>
      <%= form_with model: review, url: diagnosis_history_commentator_reviews_path(commentator_id: diagnosis.commentator.id), id: 'review-form-with', local: true do |f| %>
        <div class="form-group review-star" id="star">
          <%= f.label :rank, '評価(必須)', id: 'review-label' %>
          <%= f.hidden_field :rank, id: 'review-star-hidden' %>
        </div>
        <div class="form-group review-body">
          <%= f.label :body, 'コメント' %>
          <%= f.text_area :body, placeholder: '実況者についてコメントしよう!', class: 'edit-form-control' %>
        </div>
        <%= f.submit '投稿', class: 'btn btn-primary' %>
      <% end %>
    </div>

    <!-- 2ページ目 -->
    <div class="second-page" style="display: none;">
      <p class="commentator-name round">ゲームジャンルの割合</p>
      <div id="pie-chart-wrapper">

      </div>
      <!-- ２ぺーじ目の左 -->
      <button id="left-button-<%= frequency + 1 %>" type="button" class="left-button-1 round" value="<%= frequency + 1 %>" style="display: none;"><i class="fa fa-angle-left"></i></button>
      <!-- ２ページ目の右 -->
      <button id="right-button-<%= frequency + 1 %>" type="button" class="right-button-2 round" value="<%= frequency + 1 %>"><i class="fa fa-angle-right"></i></button>
    </div>
    <!-- 3ページ目 -->
    <div class="third-page" style="display: none;">
      <p class="commentator-name round">その他詳細</p>
      <table class="show-question-2">
        <tbody>
          <tr>
            <td>プレイスタイル:</td>
            <td><%= diagnosis.commentator.play_style_i18n %></td>
          </tr>
          <tr>
            <td>顔出し:</td>
            <td><%= diagnosis.commentator.appearance_i18n %></td>
          </tr>
          <tr>
            <td>Vtuber:</td>
            <td><%= diagnosis.commentator.vtuber_i18n %></td>
          </tr>
          <tr>
            <td>性別:</td>
            <td><%= diagnosis.commentator.sex_i18n %></td>
          </tr>
          <tr>
            <td>グループ:</td>
            <td><%= diagnosis.commentator.is_forming_a_group_i18n %></td>
          </tr>
          <tr>
            <td>動画の長さ:</td>
            <td><%= diagnosis.commentator.movie_style.length_i18n %></td>
          </tr>
          <tr>
            <td>ライブの割合:</td>
            <td><%= diagnosis.commentator.movie_style.live_i18n %></td>
          </tr>
        </tbody>
      </table>
      <!-- ３ページ目の左 -->
      <button id="left-button-<%= frequency + 1 %>" type="button" class="left-button-2 round" value="<%= frequency + 1 %>" style="display: none;"><i class="fa fa-angle-left"></i></button>
    </div>
  </div>
  <!-- <button type="button" class="btn btn-danger recommendation-button round similar-button-2" id="<%= index %>">似ている実況者は...</button> -->
</div>

