<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12 col-lg-8 form">
			<%= form_with scope: :normal_search, url: normal_searches_search_path, method: :get, local: true do |f| %>
				<div id="q-01" class="q-wrapper fit">
					<div class="title round">
						<p>プレイスタイルは？</p>
					</div>
					<div class="search-item round">
						<div class="image">
							<%= image_tag 'search_item/job_sports_jikkyou.png', id:'image-tag-1' %>
						</div>
						<div class="play-style">
							<div class="select-wrapper play-style">
								<%= f.select :play_style, options_for_select({ 'トーク系' => '10', '渋い声' => '20', 'ボイチェン' => '30', '上手い、攻略系' => '40', 'テンション高い、うるさい系' => '50', 'それなりのテンション系' => '60', '癒し、優しい系' => '70' }), {}, {class: 'select select-play-style'} %><br>
							</div>
						</div>
						<input type="button" class="btn btn-dark radio-button next-button" id="next-button-1" href="#q-02" value="次へ">
					</div>
					
				</div>

				<div id="q-02" class="q-wrapper" style="display: none;">
					<div class="title round">
						<p>ゲームジャンルは？</p>
					</div>
					<div class="search-item round">
						<div class="image">
							<%= image_tag 'search_item/game_genre.png', id:'image-tag-1' %>
						</div>
						<div class="games-genre">
							<%= f.label :genre_name, '大カテゴリー', class: 'label', id: 'big-category' %>
							<div class="select-wrapper gamegenre">
								<%= f.collection_select(:parent_genre_name, @parents, :genre_name, :genre_name, {prompt: '選択してください'}, {class: 'select', id: 'parent_gamegenre'} ) %>
							</div>
						</div>
						<label>
							<button type="button" href ="#q-01" class="btn btn-outline-secondary back-button round">⬅︎ ひとつ戻る</button>
						</label>
						<input type="button" class="btn btn-dark radio-button next-button" id="next-button-2" href="#q-03" value="次へ">
					</div>
				</div>

				<div id="q-03" class="q-wrapper" style="display: none;">
					<div class="title round">
						<p>顔出ししている？</p>
					</div>
					<div class="search-item round">
						<div class="image">
							<%= image_tag 'search_item/game_jikkyou.png', class: 'image-tag', size: '480x400' %>
						</div>
						<label class="btn btn-outline-primary">
							<%= f.radio_button :appearance, '1', class: 'radio-button', href: '#q-04' %>はい
						</label>
						<label class="btn btn-outline-danger">
							<%= f.radio_button :appearance, '0', class: 'radio-button', href: '#q-04' %>いいえ
						</label>
						<label>
							<button type="button" href ="#q-02" class="btn btn-outline-secondary back-button round">⬅︎ ひとつ戻る</button>
						</label>
					</div>
				</div>

				<div id="q-04" class="q-wrapper" style="display: none;">
					<div class="title round">
						<p>Vtuberが見たい？</p>
					</div>
					<div class="search-item round">
						<div class="image">
							<%= image_tag 'search_item/youtuber_virtual.png', class: 'image-tag', id: 'image-tag3', size: '480x400' %>
						</div>
						<label class="btn btn-outline-primary">
							<%= f.radio_button :vtuber, '1', class: 'radio-button', href: '#q-05' %>はい
						</label>
						<label class="btn btn-outline-danger">
							<%= f.radio_button :vtuber, '0', class: 'radio-button', href: '#q-05' %>そうでもない
						</label>
						<label>
							<button type="button" href ="#q-03" class="btn btn-outline-secondary back-button round">⬅︎ ひとつ戻る</button>
						</label>
					</div>
				</div>

				<div id="q-05" class="q-wrapper" style="display: none;">
					<div class="title round">
						<p>性別は？</p>
					</div>
					<div class="search-item round">
						<div class="image">
							<%= image_tag 'search_item/sex.png', class: 'image-tag', id: 'image-tag4' %>
						</div>
						<label class="btn btn-outline-primary">
							<%= f.radio_button :sex, :male, class: 'radio-button', href: '#q-06' %>男性
						</label>
						<label class="btn btn-outline-danger">
							<%= f.radio_button :sex, :female, class: 'radio-button', href: '#q-06' %>女性
						</label>
						<label>
							<button type="button" href ="#q-04" class="btn btn-outline-secondary back-button round">⬅︎ ひとつ戻る</button>
						</label>
					</div>
				</div>

				<div id="q-06" class="q-wrapper" style="display: none;">
					<div class="title round">
						<p>グループを組んでいる？</p>
					</div>
					<div class="search-item round">
						<div class="image">
							<%= image_tag 'search_item/friends_man.png', class: 'image-tag', size: '480x400' %>
						</div>
						<label class="btn btn-outline-primary">
							<%= f.radio_button :is_forming_a_group, '1', class: 'radio-button', href: '#q-07' %>はい
						</label>
						<label class="btn btn-outline-danger">
							<%= f.radio_button :is_forming_a_group, '0', class: 'radio-button', href: '#q-07' %>いいえ
						</label>
						<label>
							<button type="button" href ="#q-05" class="btn btn-outline-secondary back-button round">⬅︎ ひとつ戻る</button>
						</label>
					</div>
				</div>

				<div id="q-07" class="q-wrapper" style="display: none;">
					<div class="title round">
						<p>動画の長さは？</p>
					</div>
					<div class="search-item round">
						<div class="image">
							<%= image_tag 'search_item/clock.png', class: 'image-tag', size: '480x400' %>
						</div>
						<label class="btn btn-outline-primary">
							<%= f.radio_button :length, '1', class: 'radio-button', href: '#q-08' %>短い
						</label>
						<label class="btn btn-outline-danger">
							<%= f.radio_button :length, '2', class: 'radio-button', href: '#q-08' %>長い
						</label>
						<label>
							<button type="button" href ="#q-06" class="btn btn-outline-secondary back-button round">⬅︎ ひとつ戻る</button>
						</label>
					</div>
				</div>

				<div id="q-08" class="q-wrapper" style="display: none;">
					<div class="title round">
						<p>ライブの割合は？</p>
					</div>
					<div class="search-item round">
						<div class="image">
							<%= image_tag 'search_item/live.png', class: 'image-tag', size: '400x400' %>
						</div>
						<label class="btn btn-outline-primary">
							<%= f.radio_button :live, '1', class: 'radio-button', href: '#q-09' %>ライブ多め
						</label>
						<label class="btn btn-outline-danger">
							<%= f.radio_button :live, '2', class: 'radio-button', href: '#q-09' %>編集動画多め
						</label>
						<label>
							<button type="button" href ="#q-07" class="btn btn-outline-secondary back-button round">⬅︎ ひとつ戻る</button>
						</label>
					</div>
				</div>

				<div id="q-09" class="btn-search-wrapper" style="display: none;">
					<a class="btn-search">
						<span class="btn-search-bottom"></span>
						<span class="btn-search-top"><span><%= f.submit t('.submit'), class: 'btn-submit' %></span></span>
					</a>
				</div>
      <% end %>
		</div>
	</div>
</div>
