<!-- <%= render 'flash_messages' %> -->
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12 col-lg-8 form">
			<%= form_with url: normal_searches_search_path, method: :get, local: true do |f| %>
				<div id="q-01" class="q-wrapper fit">
					<div class="title round">
						<p>プレイスタイルは？</p>
					</div>
					<div class="search-item round">
						<div class="image">
							<%= image_tag 'search_item/job_sports_jikkyou.png', id:'image-tag-1' %>
						</div>
						<div class="games-genre">
							<div class="select-wrapper play-style">
								<%= f.select :play_style, options_for_select({ 'トーク系' => '10', '渋い声' => '20', 'ボイチェン' => '30', '上手い、攻略系' => '40', 'テンション高い、うるさい系' => '50', 'それなりのテンション系' => '60', '癒し、優しい系' => '70' }), {}, {class: 'select select-play-style'} %><br>
							</div>
						</div>
					</div>
					<input type="button" class="btn btn-dark radio-button next-button" href="#q-02" value="次へ">
				</div>

				<div id="q-02" class="q-wrapper" style="display: none;">
					<div class="title round">
						<p>ゲームジャンルは？</p>
					</div>
					<div class="search-item round">
						<div class="image">
							<%= image_tag 'search_item/582309.png', id:'image-tag-1' %>
						</div>
						<div class="games-genre">
							<%= f.label :genre_name, '大カテゴリー', class: 'label', id: 'big-category' %>
							<div class="select-wrapper gamegenre">
								<%= f.collection_select(:parent_genre_name, @parents, :genre_name, :genre_name, {prompt: '選択してください'}, {class: 'select', id: 'parent_gamegenre'} ) %>
							</div>
						</div>
					</div>
					<input type="button" class="btn btn-dark radio-button next-button" href="#q-03" value="次へ">
				</div>

				
				
				<div id="q-03" class="q-wrapper" style="display: none;">
					<div class="title round">
						<p>Vtuberが見たい？</p>
					</div>
					<div class="search-item round">
						<div class="image">
							<%= image_tag 'search_item/youtuber_virtual.png', class: 'image-tag', id: 'image-tag3', size: '480x400' %>
						</div>
						<label class="btn btn-outline-primary">
							<%= f.radio_button :vtuber, '1', class: 'radio-button', href: '#q-04' %>はい
						</label>
						<label class="btn btn-outline-danger">
							<%= f.radio_button :vtuber, '0', class: 'radio-button', href: '#q-04' %>そうでもない
						</label>
					</div>
				</div>

				<div id="q-04" class="q-wrapper" style="display: none;">
					<div class="title round">
						<p>性別は？</p>
					</div>
					<div class="search-item round">
						<div class="image">
							<%= image_tag 'search_item/1571715.png', class: 'image-tag', id: 'image-tag4' %>
						</div>
						<label class="btn btn-outline-primary">
							<%= f.radio_button :sex, :male, class: 'radio-button', href: '#q-05' %>男性
						</label>
						<label class="btn btn-outline-danger">
							<%= f.radio_button :sex, :female, class: 'radio-button', href: '#q-05' %>女性
						</label>
					</div>
				</div>

				<div id="q-05" class="q-wrapper" style="display: none;">
					<div class="title round">
						<p>グループを組んでいる？</p>
					</div>
					<div class="search-item round">
						<div class="image">
							<%= image_tag 'search_item/friends_man.png', class: 'image-tag', size: '480x400' %>
						</div>
						<label class="btn btn-outline-primary">
							<%= f.radio_button :is_forming_a_group, '1', class: 'radio-button', href: '#q-06' %>はい
						</label>
						<label class="btn btn-outline-danger">
							<%= f.radio_button :is_forming_a_group, '0', class: 'radio-button', href: '#q-06' %>いいえ
						</label>
					</div>
				</div>

				<div id="q-06" class="q-wrapper" style="display: none;">
					<div class="title round">
						<p>顔出ししている？</p>
					</div>
					<div class="search-item round">
						<div class="image">
							<%= image_tag 'search_item/game_jikkyou.png', class: 'image-tag', size: '480x400' %>
						</div>
						<label class="btn btn-outline-primary">
							<%= f.radio_button :appearance, '1', class: 'radio-button', href: '#q-07' %>はい
						</label>
						<label class="btn btn-outline-danger">
							<%= f.radio_button :appearance, '0', class: 'radio-button', href: '#q-07' %>いいえ
						</label>
					</div>
				</div>

				<div id="q-07" class="q-wrapper" style="display: none;">
					<div class="title round">
						<p>動画の長さは？</p>
					</div>
					<div class="search-item round">
						<div class="image">
							<%= image_tag 'search_item/313531.png', class: 'image-tag', size: '480x400' %>
						</div>
						<label class="btn btn-outline-primary">
							<%= f.radio_button :length, '1', class: 'radio-button', href: '#q-08' %>短い
						</label>
						<label class="btn btn-outline-danger">
							<%= f.radio_button :length, '2', class: 'radio-button', href: '#q-08' %>長い
						</label>
					</div>
				</div>

				<div id="q-08" class="q-wrapper" style="display: none;">
					<div class="title round">
						<p>ライブの割合は？</p>
					</div>
					<div class="search-item round">
						<div class="image">
							<%= image_tag 'search_item/22246052.png', class: 'image-tag', size: '400x400' %>
						</div>
						<label class="btn btn-outline-primary">
							<%= f.radio_button :live, '1', class: 'radio-button', href: '#q-09' %>ライブ多め
						</label>
						<label class="btn btn-outline-danger">
							<%= f.radio_button :live, '2', class: 'radio-button', href: '#q-09' %>編集動画多め
						</label>
					</div>
				</div>

				<div id="q-09" style="display: none;">
					<a class="btn-search">
  					<span class="btn-search-bottom"></span>
  					<span class="btn-search-top"><span><%= f.submit t('.submit'), class: 'btn-submit' %></span></span>
					</a>
					
				</div>
        <!-- <div class="games">
					<h3 class="round sector"><%= GameGenre.model_name.human %></h3>
					<div class="games-genre">
						<%= f.label :genre_name, '大カテゴリー', class: 'label' %>
						<div class="select-wrapper gamegenre">
							<%= f.collection_select(:parent_genre_name, @parents, :genre_name, :genre_name, {prompt: '選択してください'}, {class: 'select', id: 'parent_gamegenre'}) %>
						</div>
					</div>
				</div>

				<div class="commentators">
          <h3 class="round sector"><%= Commentator.model_name.human %></h3>
					<div class="commentator-searches">
						<%= f.label :sex, Commentator.human_attribute_name(:sex), class: 'label' %>
						<div class="radio-buttons" data-toggle="buttons">
							<label class="btn btn-outline-secondary" id="btn-unknown" style="width:30%">
								<%= f.radio_button :sex, :unknown_sex, class: 'radio-button', id: 'radio-button-unknown' %>不明
							</label>
							<label class="btn btn-outline-primary", id="btn-male" style="width:30%">
								<%= f.radio_button :sex, :male, checked: true, class: 'radio-button', id: 'radio-button-male' %>男性
							</label>
							<label class="btn btn-outline-danger", id="btn-female" style="width:30%">
								<%= f.radio_button :sex, :female, class: 'radio-button', id: 'radio-button-female' %>女性
							</label>
						</div>
						

						<%= f.label Commentator.human_attribute_name(:play_style), class: 'label' %>
						<div class="select-wrapper play-style">
							<%= f.select :play_style, options_for_select({ 'トーク系' => '10', '渋い声' => '20', 'ボイチェン' => '30', '上手い、攻略系' => '40', 'テンション高い、うるさい系' => '50', 'それなりのテンション系' => '60', '癒し、優しい系' => '70' }), {}, {class: 'select select-play-style'} %><br>
						</div>
						<%= f.label Commentator.human_attribute_name(:is_forming_a_group), class: 'label attribute' %>
						<div class="radio-buttons" data-toggle="buttons">
							<label class="btn btn-outline-success", id="btn-is-forming-a-group-1" style="width:30%">
								<%= f.radio_button :is_forming_a_group, '1', class: 'radio-button', id: 'radio-button-is-forming-a-group-true' %>はい
							</label>
							<label class="btn btn-outline-danger", id="btn-is-forming-a-group-0" style="width:30%">
								<%= f.radio_button :is_forming_a_group, '0', class: 'radio-button', id: 'radio-button-is-forming-a-group-false' %>いいえ
							</label>
						</div>

						<%= f.label Commentator.human_attribute_name(:appearance), class: 'label' %>
						<div class="radio-buttons" data-toggle="buttons">
							<label class="btn btn-outline-success", id="btn-appearance-1" style="width:30%">
								<%= f.radio_button :appearance, '1', class: 'radio-button', id: 'radio-button-appearance-true' %>はい
							</label>
							<label class="btn btn-outline-danger", id="btn-appearance-0" style="width:30%">
								<%= f.radio_button :appearance, '0', class: 'radio-button', id: 'radio-button-appearance-false' %>いいえ
							</label>
						</div>
						<%= f.label Commentator.human_attribute_name(:vtuber), class: 'label' %>
						<div class="radio-buttons" data-toggle="buttons">
							<label class="btn btn-outline-success", id="btn-vtuber-1" style="width:30%">
								<%= f.radio_button :vtuber, '1', class: 'radio-button', id: 'radio-button-vtuber-true' %>はい
							</label>
							<label class="btn btn-outline-danger", id="btn-vtuber-0" style="width:30%">
								<%= f.radio_button :vtuber, '0', class: 'radio-button', id: 'radio-button-vtuber-false' %>いいえ
							</label>
						</div>
					</div>
        </div>

				<div class="movie-styles">
					<h3 class="round sector"><%= MovieStyle.model_name.human %></h3>
					<div class="movie-style-searches">
						<%= f.label MovieStyle.human_attribute_name(:length), class: 'label' %>
						<div class="radio-buttons" data-toggle="buttons">
							<label class="btn btn-outline-primary", id="btn-length-within-30-minutes" style="width:30%">
								<%= f.radio_button :length, '1', checked: true, class: 'radio-button', id: 'radio-button-within-30-minutes' %>30分以内
							</label>
							<label class="btn btn-outline-danger", id="btn-length-over-30-minutes" style="width:30%">
								<%= f.radio_button :length, '2', class: 'radio-button', id: 'radio-button-over-30-minutes' %>30分以上
							</label>
						</div>
						<%= f.label MovieStyle.human_attribute_name(:single_shot), class: 'label' %>
						<div class="radio-buttons" data-toggle="buttons">
						<label class="btn btn-outline-secondary", id="btn-single-shot-main" style="width:30%">
							<%= f.radio_button :single_shot, '1', checked: true, class: 'radio-button', id: 'radio-button-single-shot-main' %>単発実況メイン
						</label>
						<label class="btn btn-outline-primary", id="btn-half-and-half-single-shot" style="width:30%">
							<%= f.radio_button :single_shot, '2', class: 'radio-button', id: 'radio-button-half-and-half-single-shot' %>半々くらい
						</label>
						<label class="btn btn-outline-danger", id="btn-series-main" style="width:30%">
							<%= f.radio_button :single_shot, '3', class: 'radio-button', id: 'radio-button-series-main' %>シリーズメイン
						</label>
						</div>
						<%= f.label MovieStyle.human_attribute_name(:live), class: 'label' %>
						<div class="radio-buttons" data-toggle="buttons">
							<label class="btn btn-outline-primary", id="btn-live-main" style="width:30%">
								<%= f.radio_button :live, '1', checked: true, class: 'radio-button', id: 'radio-button-live-main' %>ライブ多め
							</label>
							<label class="btn btn-outline-danger", id="btn-edit-main" style="width:30%">
								<%= f.radio_button :live, '2', class: 'radio-button', id: 'radio-button-edit-main' %>編集動画多め
							</label>
						</div>
					</div>
				</div> -->

      <% end %>
		</div>
	</div>
</div>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>