<div class="col-11 container">
	<div class="row">
		<div class="title round">
			<h1><%= t('.recommendation_commentator') %></h1>
		</div>	

		<% if @commentators.blank? %>
			<% if @similar_commentators.blank? %>
				<div class="result-wrapper">
					<div class="col-12 col-md-10 col-lg-7 result">
						<p><%= t('.not_found') %></p>
            <button type="button" class="btn btn-danger random-button">ランダムで出す</button>
					</div>
				</div>
        <div class="random-commentators" style="display: none;">
          <%= render 'shared/commentators', commentators: @random_commentator %>
        </div>
			<% else %>
				<div class="result-wrapper">
					<div class="mini-result-wrapper">
						<div class="col-12 col-md-10 col-lg-7 round result-wrapper-normal-not-found">
							<p class="not-found"><%= t('.not_found') %></p>
						</div>
						<button type="button" href="#recommendation" class="btn btn-danger recommendation-button round" id="recommendation-button">検索条件に近い実況者は...</button>
					</div>
					<%= render 'shared/similar_commentators', commentators: @similar_commentators %>
				</div>
				<div class="twitter-wrapper" style="display: none;">
					<%= render 'shared/twitter', commentators: 	@similar_commentators %>
				</div>
				<%= render 'shared/registration_and_login_similar_commentators', commentators: @commentators, similar_commentators: @similar_commentators, mode: @mode %>
			<% end %>
		<% else %>
			<%= render 'shared/commentators', commentators: @commentators %>
			<%= render 'shared/twitter', commentators: @commentators %>
			<%= render 'shared/registration_and_login', commentators: @commentators, similar_commentators: @similar_commentators, mode: @mode %>
		<% end %>
	</div>
</div>

