<div class="col-11 container">
	<div class="row">
		<div class="title round">
			<h1><%= t('.recommendation_commentator') %></h1>
		</div>	

			<% if @commentators.blank? %>
				<% if @recommendation_commentators.blank? %>
					<div class="result-wrapper">
						<div class="col-12 col-md-10 col-lg-6 result">
							<p><%= t('.not_found') %></p>
						</div>
					</div>
				<% else %>
					<div class="result-wrapper">
						<div class="mini-result-wrapper">
							<div class="col-12 col-md-10 col-lg-6 result">
								<p class="not-found"><%= t('.not_found') %></p>
							</div>
							<button type="button" href="#recommendation" class="btn btn-danger recommendation-button round" id="recommendation-button">検索条件に近い実況者は...</button>
						</div>
						<%= render 'shared/recommendation_commentators', commentators: @recommendation_commentators %>
					</div>
					<div class="twitter-wrapper" style="display: none;">
						<%= render 'shared/twitter', commentators: 	@recommendation_commentators %>
					</div>
				<% end %>
			<% else %>
				<%= render 'shared/commentators', commentators: @commentators %>
				<%= render 'shared/twitter', commentators: @commentators %>
			<% end %>

		<%= link_to t('.to_title'), root_path, data: {"turbolinks"=>false}, class: 'btn btn-primary round to-title' %>
	</div>
</div>

