<header>
  <nav style="height: 100%;">
    <%= link_to root_path, class: 'navbar-brand round' do %>
      <%= image_tag 'search_item/ゲーム実況者診断-removebg-preview.png', size: '200x40' %>
    <% end %>

    <!-- ハンバーガーメニュー -->
    <div id="navbarSupportedContent">
      <div class="hamburger-wrapper">
        <span class="bar1"></span>
        <span class="bar2"></span>
        <span class="bar3"></span>
      </div>
      <div class="header-mask hidden"></div>
      <ul class="navbar-nav ml-auto main-nav align-items-center">
        <li class="nav-item">
          <%= link_to '実況者検索', name_searches_path, class: 'nav-button' %>
        </li>
        <li class="nav-item">
          <%= link_to '診断履歴', diagnosis_histories_user_path(current_user), class: 'nav-button' %>
        </li>
        <li class="nav-item">
          <%= link_to 'プロフィール', profile_path, class: 'nav-button' %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログアウト', logout_path, class: 'nav-button', method: :delete %>
        </li>
      </ul>
    </div>
  </nav>
</header>

