<header>
  <nav style="height: 100%;">
    <%= link_to root_path, class: 'navbar-brand round' do %>
      <%= image_tag 'search_item/ゲーム実況者診断-ロゴ.png', size: '200x40' %>
    <% end %>

    <!-- ハンバーガーメニュー -->
    <div id="navbarSupportedContent">
      <div class="hamburger-wrapper">
        <span class="bar1"></span>
        <span class="bar2"></span>
        <span class="bar3"></span>
      </div>
      <div class="header-mask hidden"></div>
      <ul class="navbar-nav ml-auto main-nav align-items-center">
        <li class="nav-item">
          <%= image_tag(current_user.avatar.url, class: 'nav-button round user-icon', size: '60x60') %>
        </li>
        <li class="nav-item">
          <%= link_to '実況者一覧', commentators_path, class: 'nav-button' %>
        </li>
        <li class="nav-item">
          <%= link_to '実況者検索', commentator_searches_path, class: 'nav-button' %>
        </li>
        <li class="nav-item">
          <%= link_to '診断履歴', diagnosis_history_path(current_user), class: 'nav-button' %>
        </li>
        <li class="nav-item">
          <%= link_to 'レビュー一覧', reviews_path, class: 'nav-button' %>
        </li>
        <li class="nav-item">
          <%= link_to 'ランキング', ranking_path, class: 'nav-button' %>
        </li>
        <li class="nav-item">
          <%= link_to 'プロフィール', profile_path, class: 'nav-button' %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログアウト', logout_path, class: 'nav-button', method: :delete %>
        </li>
      </ul>
    </div>
  </nav>
</header>

