<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'abu.jpeg', size: '40x40' %>
    <% end %>

    <div id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto main-nav align-items-center">
        <li class="nav-item">
          <%= link_to '実況者検索', name_searches_path, class: 'nav-button' %>
        </li>
        <li class="nav-item">
          <%= link_to '診断履歴', diagnosis_histories_user_path(current_user), class: 'nav-button' %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログアウト', logout_path, class: 'nav-button', method: :delete %>
        </li>
      </ul>
    </div>
  </nav>
</header>

