<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12 col-lg-7 form">
			<div class="title round">
				<p>お問い合わせ</p>
			</div>
			<%= form_with model: @contact, url: contacts_confirm_path, local: true do |f| %>
				<div class="form-group">
					<%= f.label :name, 'お名前*', class: 'label' %>
					<%= f.text_field :name, class: 'form-control' %>
				</div>

				<div class="form-group">
					<%= f.label :email, 'メールアドレス*', class: 'label' %>
					<%= f.email_field :email, class: 'form-control' %>
				</div>

				<div class="form-group">
					<%= f.label :title, 'タイトル*', class: 'label' %>
					<%= f.text_field :title, class: 'form-control' %>
				</div>

				<div class="form-group">
					<%= f.label :message, '内容*', class: 'label' %>
					<%= f.text_area :message, class: 'form-control' %>
				</div>

				<%= f.submit '確認', class: 'btn btn-primary contacts-confirm' %>
			<% end %>
		</div>
	</div>
</div>
