<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12 col-lg-7 form">
			<%= form_with url: simplified_searches_search_path, method: :get, local: true do |f| %>
				<div id="q-01" class="q-wrapper fit">
					<div class="title round">
						<p>今の気持ちは？</p>
					</div>
					<div class="search-item round">
						<div class="image" id="image-1">
						<%= image_tag 'search_item/computer_nekorogaru_man.png', class: 'image-tag' %>
					</div>
					<label class="btn btn-outline-primary">
						<%= f.radio_button :feeling, '1', class: 'radio-button', href: '#q-02' %>わいわいしたい
					</label>
					<label class="btn btn-outline-danger">
						<%= f.radio_button :feeling, '2', class: 'radio-button', href: '#q-02' %>まったりしたい
					</label>
					</div>
				</div>

				<div id="q-02" class="q-wrapper" style="display: none;">
					<div class="title round">
						<p>有名な人が見たい？</p>
					</div>
					<div class="search-item round">
						<div class="image">
							<%= image_tag 'search_item/picture_pc_83f62a2949cb19ec2451053f21041c35.png', class: 'round image-tag', size: '450x360' %>
						</div>
						<label class="btn btn-outline-primary">
							<%= f.radio_button :famous, '1', class: 'radio-button', href: '#q-03' %>はい
						</label>
						<label class="btn btn-outline-danger">
							<%= f.radio_button :famous, '0', class: 'radio-button', href: '#q-03' %>そうでもない
						</label>
					</div>
				</div>

				<div id="q-03" class="q-wrapper" style="display: none;">
					<div class="title round">
						<p>Vtuberが見たい？</p>
					</div>
					<div class="search-item round">
						<div class="image">
							<%= image_tag 'search_item/youtuber_virtual.png', class: 'image-tag', size: '480x400' %>
						</div>
						<label class="btn btn-outline-primary">
							<%= f.radio_button :vtuber, '1', class: 'radio-button', href: '#q-04' %>はい
						</label>
						<label class="btn btn-outline-danger">
							<%= f.radio_button :vtuber, '0', class: 'radio-button', href: '#q-04' %>そうでもない
						</label>
					</div>
				</div>

				<div id="q-04" class="q-wrapper" style="display: none;">
					<div class="title round">
						<p>性別は？</p>
					</div>
					<div class="search-item round" id="search-item-4">
						<div class="image">
							<%= image_tag 'search_item/1571715.png', class: 'image-tag', size: '480x400' %>
						</div>
						<label class="btn btn-outline-primary">
							<%= f.radio_button :sex, :male, class: 'radio-button', href: '#q-05' %>男性
						</label>
						<label class="btn btn-outline-danger">
							<%= f.radio_button :sex, :female, class: 'radio-button', href: '#q-05' %>女性
						</label>
					</div>
				</div>

				<div id="q-05" class="q-wrapper" style="display: none;">
					<div class="title round">
						<p>動画の長さは？</p>
					</div>
					<div class="search-item round">
						<div class="image">
							<%= image_tag 'search_item/313531.png', class: 'image-tag', size: '480x400' %>
						</div>
						<label class="btn btn-outline-primary">
							<%= f.radio_button :length, '1', class: 'radio-button', href: '#q-06' %>短い
						</label>
						<label class="btn btn-outline-danger">
							<%= f.radio_button :length, '2', class: 'radio-button', href: '#q-06' %>長い
						</label>
					</div>
				</div>

				<div id="q-06" style="display: none;">
					<a class="btn-search">
						<span class="btn-search-bottom"></span>
						<span class="btn-search-top"><span><%= f.submit t('.submit'), class: 'btn-submit' %></span></span>
					</a>
				</div>
			<% end %>
		</div>
	</div>
</div>

