<div class="col-11 container">
	<div class="row">
		<div class="title round">
			<h1><%= t('.recommendation_commentator') %></h1>
		</div>	

			<% if @commentators.blank? %>
				<div class="result-wrapper">
					<div class="col-12 col-md-10 col-lg-6 result">
						<p><%= t('.not_found') %></p>
					</div>
				</div>
			<% else %>
				<% @commentators.each.with_index(1) do |commentator, index| %>
					<div class="result-wrapper">
						<div class="col-12 col-md-10 col-lg-6 result">
							<div class="commentator">
								<div class="commentator-info" id="commentator-id-<%= index %>">
									<div class="commentator-name round">
										<%= commentator.name %>
									</div>
									<%= link_to image_tag(commentator.youtube_icon, class: 'youtube-icon'), commentator.youtube_channel_url %>
									<div class="video">
										<iframe width="110%" height="180" src="<%= commentator.popular_movies.pluck(:movie).first %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
									</div>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		
		<%= link_to "https://twitter.com/share?url=#{ request.url }&text=あなたへのオススメ実況者は、「#{ @commentators.pluck(:name).join('、') }」です！&hashtags=ゲーム,ゲーム実況,ゲーム実況者", target: '_blank', class: 'twitter-share round' do  %>
			<i class="fa fa-twitter" aria-hidden="true"></i>Twitterでシェア
		<% end %>
		<%= link_to t('.to_title'), root_path, class: 'btn btn-primary round to-title' %>
	</div>
</div>


