<% commentators.each.with_index(1) do |commentator, index| %>
	<div id="result-r-<%= index %>" class="col-12 col-md-10 col-lg-6 round name-search-commentator">
		<div class="commentator-info" id="commentator-info-<%= index %>">
			<div class="commentator-name round">
				<%= commentator.name %>
			</div>
			<%= link_to image_tag(commentator.youtube_icon, class: 'youtube-icon'), commentator.youtube_channel_url %>
			<div class="video">
				<iframe width="110%" height="180" src="<%= commentator.popular_movies.pluck(:movie).first %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
			</div>

      <% if logged_in? %>
        <button type="button" class="btn btn-primary logged-in-review-button commentator-review-button" value="<%= index %>">レビュー</button>
      <% end %>

      <!-- マスク -->
      <div id="<%= index %>" class="commentators-index-mask hidden"></div>

      <!-- レビューフォーム -->
      <div id="logged-in-review-form-<%= index %>" class="commentators-index-review-form hidden">
        <i id="<%= index %>" class="fa fa-close review-close"></i>
        <%= form_with model: review, url: diagnosis_history_commentator_reviews_path(commentator_id: commentator.id), id: 'review-form-with', local: true do |f| %>
          <div class="form-group review-star star">
            <%= f.label :rank, '評価(必須)', id: 'review-label' %>
            <%= f.hidden_field :rank, id: 'review-star-hidden' %>
          </div>
          <div class="form-group review-body">
            <%= f.label :body, 'コメント' %>
            <%= f.text_area :body, placeholder: '実況者についてコメントしよう!', class: 'edit-form-control' %>
          </div>
          <%= f.submit '投稿', class: 'btn btn-primary review-post-button' %>
        <% end %>
      </div>

      <% if logged_in? %>
        <button id="show-button-<%= index %>" type="button" class="commentator-detail-button show-button-2 round" value="<%= index %>"><i class="fa fa-angle-down"></i></button>
        <button id="close-button-<%= index %>" type="button" class="commentator-detail-button close-button-2 round" value="<%= index %>" style="display: none;"><i class="fa fa-angle-up"></i></button>  
			<% else %>
        <button id="before-login-show-button-<%= index %>" type="button" class="before-login-commentator-detail-button show-button-3 round" value="<%= index %>"><i class="fa fa-angle-down"></i></button>
        <button id="before-login-close-button-<%= index %>" type="button" class="before-login-commentator-detail-button close-button-3 round" value="<%= index %>" style="display: none;"><i class="fa fa-angle-up"></i></button>  
      <% end %>
			
      <div id="show-screen-<%= index %>" class="show-screen-2 round" style="display: none;">
				<p class="title round">特徴</p>
				<p>ゲームジャンルの割合</p>
				<%= pie_chart aggregate(commentator), height: '40%', width: '100%' %>
				<table class="show-question">
					<tbody>
						<tr>
							<td>プレイスタイル:</td>
							<td><%= commentator.play_style_i18n %></td>
						</tr>
            <tr>
							<td>顔出し:</td>
							<td><%= commentator.appearance_i18n %></td>
						</tr>
            <tr>
							<td>Vtuber:</td>
							<td><%= commentator.vtuber_i18n %></td>
						</tr>
            <tr>
							<td>性別:</td>
							<td><%= commentator.sex_i18n %></td>
						</tr>
						<tr>
							<td>グループ:</td>
							<td><%= commentator.is_forming_a_group_i18n %></td>
						</tr>
						<tr>
							<td>動画の長さ:</td>
							<td><%= commentator.movie_style.length_i18n %></td>
						</tr>
            <tr>
							<td>ライブの割合:</td>
							<td><%= commentator.movie_style.live_i18n %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<% end %>
