<!DOCTYPE html>
<html>
  <head prefix=”og:http://ogp.me/ns#”>
    <title>ゲーム実況者診断</title>

    <!-- Twitter OGP -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@runteq_tsuyoshi" />
    <meta name="twitter:image" content="<%= asset_url('waiwai.jpeg') %>" />
    <meta property="og:type" content="article" />
    <meta property="twitter:title" content="ゲーム実況者診断" />
    <meta property="og:url" content="https://game-commentator-checker.com" />
    <meta property="twitter:description" content="自分に合うゲーム実況者を見つけられるサービス。あなたへのオススメ実況者は...!" />
    

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'jquery_raty.js', "data-turbolinks-track": false %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-216602819-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-216602819-1');
    </script>
  </head>

  <body>
    <%= render 'shared/flash_messages' %>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= yield %>
  </body>
</html>
