<!DOCTYPE html>
<html>
  <head>
    <title>ゲーム実況者診断</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <%= javascript_pack_tag 'application' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.comgtag/js?      id=G-5KEMC78Y91"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-5KEMC78Y91');
      gtag('config', 'UA-216602819-1');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
